---
---

@import "bootstrap-flex";

$blue: #E0823F;

body {
  font-family: "ff-tisa-web-pro", serif;
}

body, .container {
  position: relative;
}

p {
  a:link, a:visited {
    color: #000;
    text-decoration: underline;
  }
}

.container-fluid {
  padding: 0;
  & > .row {
    padding: 0;
  }
}

h1, h2, h3, h4, h5, nav {
  font-family: "proxima-nova", sans-serif;
}

#sidebar {
  max-height: 100vh;
  overflow-y: scroll;
}

h1 {
  color: $blue;
  font-size: 3rem;
  line-height: 1;
  font-weight: 100;
  strong {
    font-weight: 900;
  }
}

h2 {
    font-size: 3.5rem;
    line-height: .9;
    font-weight: 900;
}

.lead {
  font-style: italic;
  color: $blue;
  font-weight: 800;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.25rem;
  padding-top: 1rem;
  a:link, a:visited {
    color: #222;
    text-decoration: underline;
  }
}

.nav-pills .nav-link.active {
    background: transparent !important;
    border-radius: 0;
    border-left:5px solid $blue;
    color: $blue !important;
    padding-left: 11px;
}

a#hamburger {
  display: block!important;
  position: fixed; top: 15px; right: 15px;
  color: #fff;
  background-color: #104EF4;
  line-height: 25px;
  width: 25px;
  text-align: center;
  z-index: 100;
  text-decoration: none;
}

img {
    width: 100%;
}

figcaption {
  font-style: italic;
}

nav {
    padding-top: 45px;
    font-size: 16px!important;
  
    svg {
      width: 50px;
    }

    .header a {
        margin-top: 45px!important;
        color: $blue;
        font-weight: 900!important;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    a:link, a:visited {
      color: #000;
      text-decoration: none;
      small {
          color: gray;
          display: block;
      }
    }

    a:hover, a:active {
      text-decoration: underline!important;
      small {
        text-decoration: none!important;
      }
    }
}

@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }


section {
//    min-height: 50vh;
    padding: 30px 0;
    margin-bottom: 30px;
    header.section {
        background: $blue;
        padding: 40vh 0 15px 0;
        margin-top: -31px;
        margin-bottom: 30px;
        vertical-align: bottom;
        position: relative;
        h2 {
            color: #fff;
            em {
              font-weight: 100;
            }
        }
        h3, small {
            color: darken($blue,25%);
        }
        a:link,
        a:visited {
          text-decoration: none;
          color: #fff;
        }
    }
    &#home, &#end {
      padding: 0;
      min-height: 0;
      margin-bottom: 0;
      figure, img {
          width: 100%;
          margin: 0;
          padding: 0;
      }
    }
    &#read {
      padding-top: 30px;
      min-height: 0;
      .lead {
        color: #222;
        font-weight: 100;
      }
      @include media-breakpoint-up(lg) {
        h1 {
          font-size: 4rem;
        }
        .lead {
          font-size: 1.75rem;
          font-weight: 100;
        }
      }
    }
    &#an-icon-is-a-verb {
      margin-bottom: 0;
      padding-bottom: 0;
      header.section {
        background-image: url("/img/an-icon-is-a-verb.jpg");
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
      }
      @include media-breakpoint-up(md) {
        .row {
          margin-bottom: 60px;
          align-items: center;
        }
      }
    }
    &#contribute {

    }
    &#notes {

    }
    &#use {
      .row > div {
        margin-bottom: 30px;
      }
      a.btn {
        margin-top: 10px;
      }
    }
    &#buy {
      img {
        margin-bottom: 10px;
      }
    }
}