---
---

$blue: #0076FF;

$grid-gutter-width: 1.5rem;
$grid-columns: 12;

// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
@mixin make-container($gutter: $grid-gutter-width)
{
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width)
{
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin make-col($gutter: $grid-gutter-width)
{
  position: relative;
  float: left;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-col-span($columns)
{
  width: percentage(($columns / $grid-columns));
}
@mixin make-col-offset($columns)
{
  margin-left: percentage(($columns / $grid-columns));
}
@mixin make-col-push($columns)
{
  left: percentage(($columns / $grid-columns));
}
@mixin make-col-pull($columns)
{
  right: percentage(($columns / $grid-columns));
}

body {
  position: relative;
}

.nav-pills .nav-link.active {
    background: transparent !important;
    border-radius: 0;
    border-left:5px solid $blue;
    color: $blue !important;
    padding-left: 11px;
}

#navigation {
    position: fixed; top:0; right: -240px;
    background: #eee;
    z-index: 100;
    height: 100vh;
    overflow-x: scroll;
    svg {
        width: 50px;
    }
    &:hover {
        position: fixed; top:0; right: 0;
    }
    box-shadow: -10px 0 25px rgba(0,0,0,.25);
}

a[href="#navigation"] {
    position: fixed; top: 15px; right: 15px;
    color: #fff;
    background-color: $blue;
    line-height: 25px;
    width: 25px;
    text-align: center;
}

img {
    max-width: 100%;
}

h2 {
    color: $blue;
}

nav {
    font-size: 16px!important;

    .header {
        margin-top: 45px!important;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    a  {
        color: #000;

        small {
            color: gray;
            display: block;
        }

    }

}
section {
    min-height: 100vh;
    padding: 30px auto!important;
    header.section {
        height: 100vh;
        background: $blue;
        h2 {
            color: #fff;
            small {
                color: #000;   
            }
        }
    }
    &#home {
        figure, img {
            width: 100%;
        }
    }
    &#what {
      #googft-mapCanvas {
        height: 300px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
    &#contribute {

    }
    &#notes {}
}